{% extends "base_page.html" %}

{% block content %}
  <div class="p-5">
    <div class="container">
      {% for application in object_list %}
      <div class="col-md-3">
        <div class="row py-2">
          <div class="card" style="width: 18rem; border: solid 1px;">
            <div class="card-body m-1">
              <h5 class="card-title">{{ application.applicant.email }}</h5>
                <a href="{% url "applications-detail" application.pk %}" class="btn btn-primary" role="button">
                  See application
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% comment %} {% if not user.is_staff %}
        <div class="col-md-3">
          <div class="row py-2">
            <div class="card" style="width: 18rem; border: solid 1px;">
              <div class="card-body m-1">
                <h5 class="card-title">
                  <a href="{% url "applications-create" %}" class="btn btn-primary" role="button">
                    Create new application
                  </a>
                </h5>
                  <a href="{% url "applications-detail" application.pk %}" class="btn btn-primary" role="button">
                    See application
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% comment %} {% endif %} {% endcomment %}
    </div>
  </div>

{% endblock content %}