{% extends "base_page.html" %}

{% block content %}
  <div class="p-5">
    <div class="container">
        {% for field in form %}
          <div class="inner" disabled><p>{{ field.label_tag }} {{ field }}</p></div>
        {% endfor %}
        {% if user.is_superuser %}
          <form method="POST" action="{% url "applications-approve" object.pk %}">
            {% csrf_token %}
            <input type="submit" value="Approve application">
          </form>
        {% endif %}
        <div id="prediction-container">
          <p>Prediction result: <span id="prediction-output">?</span></p>
          <button name="predict" id="predict-button">Predict</button>
        </div>
    </div>
  </div>

{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
  let current_application = {{ object.pk }};

  async function predict () {
    let url = `http://localhost:8000/applications/${current_application}/predict/`;
    let response = await fetch(url);
    let data = await response.json();

    let prediction_output = document.getElementById("prediction-output");
    if (data.prediction === false) {
      prediction_output.innerHTML = "Bad applicant";
    }
    else {
      prediction_output.innerHTML = "Good applicant";
    }

  }

  element = document.getElementById("predict-button")
  element.onclick = () => {
    predict();
  }
</script>
{% endblock extra_js %}