
<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app_label}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
        </div>
        {% if not user.is_authenticated%}
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>

