
{% extends "base_page.html" %}

{% block content %}
  <div class="has-background-grey-dark p-5" style="height: 100%;">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p><h1>Welcome to online credit DSS!</h1></p>
            <p>Users can leave an application for credit card, then bank employee will review it and approve or reject it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

